<div class="card m-3">
  <div class="card-header">
   Filter Data By Range
  </div>
  <div class="card-body d-flex justify-content-center">
    <div class="date-picker">
      <ejs-daterangepicker id='daterangepicker' placeholder='Select a range' [startDate]='start'
        (change)="getNodeData($event)" [endDate]='end'></ejs-daterangepicker>
    </div>

  </div>
</div>


<div class="card m-3">
  <div class="card-header">
    Example  WIRID-LAB IoT Data
  </div>
  <div class="card-body">
    <!-- <h5 class="card-title">Temperature</h5> -->
    <div class="graph">
      <div id="history-graph" style="height: 400px; width:100%"></div>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-6">
    <div class="card m-3">
      <div class="card-header">
        Links
      </div>
      <div class="card-body">
        <p class="card-text"><a href="https://wirid-lab.github.io/docs/" target="_blank">WIRID Lab Documentation</a></p>
        <p class="card-text"><a href="https://wirid-lab.umng.edu.co/" target="_blank">Dashboard</a></p>
        <p class="card-text"><a href="https://github.com/wirid-lab" target="_blank">GitHub</a></p>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card m-3">
      <div class="card-header">
        Libraries
      </div>
      <div class="card-body">
        <p class="card-text">Angular 9</p>
        <p class="card-text">Bootstrap v4.0</p>
        <p class="card-text"><a href="https://echarts.apache.org/examples/en/index.html" target="_blank">Echarts</a></p>
        <p class="card-text">Moment.js</p>
      </div>
    </div>
  </div>
</div>



